/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Стилизация заголовка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.user-icon img {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.5); /* Прозрачная черная рамка */
    border-radius: 50%;
}


/* Основной контейнер для меню */
#popup-menu {
    position: absolute;
    top: 55px; /* Меню будет ниже логотипа */
    right: 0; /* Левый край меню выровнен по левому краю логотипа */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
    color: white; /* Цвет текста внутри меню */
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0); /* Начальное состояние: скрытое и сжатое по вертикали */
}

/* Активированное состояние меню */
#popup-menu.show {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1); /* Меню разворачивается вертикально */
}

/* Элементы списка внутри меню */
#popup-menu li {
    margin: 5px 0; /* Расстояние между пунктами меню */
}

/* Ссылки внутри пунктов меню */
#popup-menu li a {
    color: inherit; /* Наследует цвет от родительского элемента */
    text-decoration: none;
}

/* Наведение мыши на пункты меню */
#popup-menu li a:hover {
    text-decoration: underline;
}



/* Стилизуем основной контент */
main section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}
