<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина покупок</title>
    <link rel="stylesheet" href='css/cart.css'>
</head>
<body>
    <header>
        <h1>Корзина покупок</h1>
        <a href="/" class="btn-back-home">Вернуться на главную</a>
    </header>
    
    <main>
        <section class="product-list">
            <table>
                <thead>
                    <tr>
                        <th>Название продукта</th>
                        <th>Цена (₽)</th>
                        <th>Количество</th>
                        <th>Общая сумма (₽)</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ '%.2f'|format(item.price) }} ₽</td>
                            <td>{{ item.quantity }} шт.</td>
                            <td>{{ '%.2f'|format(item.total_price) }} ₽</td>
                            <td>
                                <form method="POST" action="/remove-from-cart">
                                    <input type="hidden" name="order_id" value="{{ item.order_id }}">
                                    <button type="submit" class="delete-item">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <footer>
            <p>Итоговая сумма: {{ '%.2f'|format(total_sum) }} ₽</p>
            <button class="checkout-btn">Оформить заказ</button>
        </footer>
    </main>
</body>
</html>
