<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DokiTory</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo"><img src="templates/logo.png" alt="Логотип" width="40" height="40"></a>
        </div>
        <h1>DokiTory</h1>
        <div class="right-side">
            <div class="cart-and-user-container">
                {% if session.get('logged_in') %}
                    <a href="/cart" class="cart-button">Корзина</a>
                    <a href="/orders" class="orders-button">Заказы</a>
                {% endif %}
            </div>
            <div class="user-container">
                {% if session.get('logged_in') %}
                    <div class="user-icon logged-in" onclick="togglePopup()">
                        <img src="{{ avatar_url }}" alt="Аватарка пользователя" width="40" height="40">
                    </div>
                {% else %}
                    <div class="user-icon" onclick="togglePopup()">
                        <img src="templates/default_avatar.png" alt="Иконка пользователя" width="40" height="40">
                    </div>
                {% endif %}
            </div>
        </div>
        <ul id="popup-menu" class="hidden">
            {% if not session.get('logged_in') %}
                <li><a href="/reg">Зарегистрироваться</a></li>
                <li><a href="/login">Войти</a></li>
            {% else %}
                <li><a href="/cart">Корзина</a><li>
                <li><a href="/orders">Заказы</a></li>
                <li><a href="/logout">Выход</a></li>
            {% endif %}
            <li><a href="/">Главная</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </header>

    <main>
        <section>
            <h2>Добро пожаловать на сайт DokiTory!</h2>
            <p>Здесь вы найдёте много полезной информации и интересных предложений.</p>
        </section>

        <section id="product-list">
            <!-- Товары будут вставляться сюда динамически -->
        </section>
        
        <!-- Скрываем кнопку для обычных пользователей (роль = 1) -->
        {% if session.get('user_role') != 1 %}
            <a href="/add_product" class="btn-add-product" style="position: fixed; bottom: 20px; right: 20px; background-color: #007BFF; color: white; border-radius: 50%; display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; font-size: 24px; text-decoration: none;">+</a>
        {% endif %}
    </main>
    
    <script src="js/main.js"></script>
    <script type="module" src="js/products.js"></script>
</body>
</html>