<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История заказов</title>
    <link rel="stylesheet" href="css/orders.css">
</head>
<body>
    <h1>История ваших заказов</h1>
    <table id="orders-table">
        <thead>
            <tr>
                <th>Номер заказа</th>
                {% if user_role == 2 %}
                    <th>Никнейм пользователя</th> <!-- Видно только администраторам -->
                {% endif %}
                <th>Продукт</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Дата заказа</th>
                <th>Статус</th>
                {% if user_role == 2 %}
                    <th>Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    {% if user_role == 2 %}
                        <td>{{ order.user_name }}</td> <!-- Никнейм отображается только администраторам -->
                    {% endif %}
                    <td>{{ order.product_name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ "%.2f" | format(order.total_price) }} руб.</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.status }}</td>
                    {% if user_role == 2 %}
                        <td>
                            <form method="POST" action="/update_order/{{ order.order_id }}">
                                <select name="new_status">
                                    <option value="1"{% if order.status == 'Готов' %} selected{% endif %}>Готов</option>
                                    <option value="2"{% if order.status == 'В обработке' %} selected{% endif %}>В обработке</option>
                                    <option value="3"{% if order.status == 'В пути' %} selected{% endif %}>В пути</option>
                                </select>
                                <button type="submit">Изменить статус</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>